.ipynb_checkpoints/
Financial_Market/Personal_project/Data.zip
Financial_Market/Personal_project/Data
Financial_Market/Personal_project/.ipynb_checkpoints/
Financial_Market/Personal_project/__pycache__/
Trading/project/Personal_project/Data.zip
Trading/project/Personal_project/Data
Trading/project/Personal_project/__pycache__/

